#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        toggle_gaming_layer_combo {
            bindings = <&tog 1>;
            key-positions = <60 75>;
        };
    };

    behaviors {
        capital_on_double_click: capital_on_double_click {
            compatible = "zmk,behavior-key-repeat";
            label = "CAPITAL_ON_DOUBLE_CLICK";
            #binding-cells = <0>;
            usage-pages = w;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none         &none  &none    &none     &none         &none  &kp C_BRIGHTNESS_INC                                                                  &kp C_VOLUME_UP    &none  &none          &none      &none    &none     &none
&kp TAB       &kp Q  &kp W    &kp F     &kp P         &kp B  &kp C_BRI_DEC                                                                         &kp C_VOLUME_DOWN  &kp J  &kp L          &kp U      &kp Y    &kp SEMI  &none
&kp ESCAPE    &kp A  &kp R    &kp S     &kp T         &kp G  &none                        &kp LEFT_CONTROL  &none    &none  &kp LEFT_SHIFT         &kp K_MUTE         &kp M  &kp N          &kp E      &kp I    &kp O     &none
&kp LEFT_ALT  &kp X  &kp C    &kp D     &kp V         &kp Z                                                 &none    &none                                            &kp K  &kp H          &kp COMMA  &kp DOT  &kp FSLH  &none
&none         &none  &kp DEL  &kp BSPC  &kp LEFT_GUI                               &mo 3  &kp SPACE         &none    &none  &kp RETURN      &mo 2                            &kp RIGHT_GUI  &none      &none    &none     &none
            >;
        };

        gaming_layer {
            bindings = <
&trans        &kp N5  &kp N6  &kp N7                    &kp N8  &kp N9  &trans                                                            &trans  &trans  &trans    &trans    &trans     &trans  &trans
&kp TAB       &kp Q   &kp C   &kp E                     &kp R   &kp T   &trans                                                            &trans  &trans  &trans    &trans    &trans     &trans  &trans
&kp ESCAPE    &kp G   &kp A   &capital_on_double_click  &kp D   &kp F   &trans          &trans  &kp LEFT_SHIFT    &trans  &trans          &trans  &trans  &kp LEFT  &kp UP    &kp RIGHT  &trans  &trans
&kp LEFT_ALT  &kp Z   &kp X   &kp S                     &kp V   &kp B                           &trans            &trans                          &trans  &trans    &kp DOWN  &trans     &trans  &trans
&trans        &kp N1  &kp N2  &kp N3                    &kp N4                  &trans  &trans  &trans            &trans  &trans  &trans                  &trans    &trans    &trans     &trans  &trans
            >;
        };

        symbol_layer {
            bindings = <
&trans  &trans                &trans           &trans        &trans          &trans  &trans                                                    &trans  &trans  &trans                &trans                 &trans          &trans            &trans
&trans  &kp NON_US_BACKSLASH  &kp AMPERSAND    &kp ASTERISK  &kp APOSTROPHE  &trans  &trans                                                    &trans  &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp UNDERSCORE  &kp EQUAL         &trans
&trans  &kp DOUBLE_QUOTES     &kp DOLLAR       &kp PERCENT   &kp CARET       &trans  &trans          &trans  &trans    &trans  &trans          &trans  &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp MINUS       &kp PLUS          &trans
&trans  &trans                &kp EXCLAMATION  &kp AT_SIGN   &kp HASH        &trans                          &trans    &trans                          &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LESS_THAN   &kp GREATER_THAN  &trans
&trans  &trans                &trans           &trans        &trans                          &trans  &trans  &trans    &trans  &trans  &trans                  &trans                &trans                 &trans          &trans            &trans
            >;
        };

        number_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                                    &trans  &trans    &trans    &trans        &trans         &trans  &trans
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans  &trans                                                    &trans  &trans    &trans    &trans        &trans         &trans  &trans
&trans  &kp N0  &kp N4  &kp N5  &kp N6  &trans  &trans          &trans  &trans    &trans  &trans          &trans  &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT      &trans  &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans                          &trans    &trans                          &trans    &trans    &trans        &trans         &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans    &trans  &trans  &trans                    &trans    &trans        &kp BACKSPACE  &trans  &trans
            >;
        };
    };
};
