#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&trans        &trans  &trans   &trans    &trans        &trans  &trans                                                                    &trans  &trans  &trans         &trans     &trans   &trans    &trans
&kp TAB       &kp Q   &kp W    &kp F     &kp P         &kp B   &trans                                                                    &trans  &kp J   &kp L          &kp U      &kp Y    &kp SEMI  &trans
&kp ESCAPE    &kp A   &kp R    &kp S     &kp T         &kp G   &trans         &kp LEFT_CONTROL  &trans    &trans  &kp LEFT_SHIFT         &trans  &kp M   &kp N          &kp E      &kp I    &kp O     &trans
&kp LEFT_ALT  &kp X   &kp C    &kp D     &kp V         &kp Z                                    &trans    &trans                                 &kp K   &kp H          &kp COMMA  &kp DOT  &kp FSLH  &trans
&trans        &trans  &kp DEL  &kp BSPC  &kp LEFT_GUI                  &mo 3  &kp SPACE         &trans    &trans  &kp RETURN      &mo 2                  &kp RIGHT_GUI  &trans     &trans   &trans    &trans
            >;
        };

        gaming_layer {
            bindings = <
&trans        &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &trans                                                            &trans  &trans  &trans    &trans    &trans     &trans  &trans
&kp TAB       &kp Q   &kp C   &kp E   &kp R   &kp T   &trans                                                            &trans  &trans  &trans    &trans    &trans     &trans  &trans
&kp ESCAPE    &kp G   &kp A   &kp W   &kp D   &kp F   &trans          &trans  &kp LEFT_SHIFT    &trans  &trans          &trans  &trans  &kp LEFT  &kp UP    &kp RIGHT  &trans  &trans
&kp LEFT_ALT  &kp Z   &kp X   &kp S   &kp V   &kp B                           &trans            &trans                          &trans  &trans    &kp DOWN  &trans     &trans  &trans
&trans        &kp N1  &kp N2  &kp N3  &kp N4                  &trans  &trans  &trans            &trans  &trans  &trans                  &trans    &trans    &trans     &trans  &trans
            >;
        };

        symbol_layer {
            bindings = <
&trans  &trans                &trans           &trans        &trans          &trans  &trans                                                    &trans  &trans  &trans                &trans                 &trans          &trans            &trans
&trans  &kp NON_US_BACKSLASH  &kp AMPERSAND    &kp ASTERISK  &kp APOSTROPHE  &trans  &trans                                                    &trans  &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp UNDERSCORE  &kp EQUAL         &trans
&trans  &kp DOUBLE_QUOTES     &kp DOLLAR       &kp PERCENT   &kp CARET       &trans  &trans          &trans  &trans    &trans  &trans          &trans  &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp MINUS       &kp PLUS          &trans
&trans  &trans                &kp EXCLAMATION  &kp AT_SIGN   &kp HASH        &trans                          &trans    &trans                          &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LESS_THAN   &kp GREATER_THAN  &trans
&trans  &trans                &trans           &trans        &trans                          &trans  &trans  &trans    &trans  &trans  &trans                  &trans                &trans                 &trans          &trans            &trans
            >;
        };

        number_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                                    &trans  &trans    &trans    &trans        &trans         &trans  &trans
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans  &trans                                                    &trans  &trans    &trans    &trans        &trans         &trans  &trans
&trans  &kp N0  &kp N4  &kp N5  &kp N6  &trans  &trans          &trans  &trans    &trans  &trans          &trans  &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT      &trans  &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans                          &trans    &trans                          &trans    &trans    &trans        &trans         &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans    &trans  &trans  &trans                    &trans    &trans        &kp BACKSPACE  &trans  &trans
            >;
        };
    };
};
